html,body{
	height: 100%;
}

#tBtn{
	height: 40px;
	max-width: 40px;
}

.btn{
	height: 40px;
	width: 40px;
	padding-bottom: 0px;
	font-size: 30px;
	border-radius: 10px;
	background-color: white;
}

#titleBar{
	max-height: 40px;
	width: 100%;	
}

#menuBar{
	height: 25px;
	width: 100%;
}

div{
	display: inline;

}

#container{
	min-width:99.2%;
	max-width:99.2%;
	background-color: white;
}

#textarea{
	min-height: 100%;
	min-width: 100%;
  	position: relative;
}

#content{
	min-height:100%;
	max-width: 100%;
	word-wrap: break-word;
    position: absolute;
	top:0px;
	z-index: 0;
}


table{
	min-width:100%;
	height: 100%;
	background-color: lightblue;
	border: 1px solid;
}

td{border: 1px solid; 
}

ul{
	list-style: none;
	display: none;
	padding: 0px 5px;
}

ul button{
	width:150px ;
	text-align: left;
}

body{
	background-image: url('theme.jpg');
	background-repeat:no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}

#tHeading{
	padding-left: 0.5%;
	min-width: 90%;
	font-weight: bold;
}

#file,#edit,#format,#view,#help{
	position: relative;
}

#fileList{
	position: absolute;
	top: 62px;
	left: 15px;
	z-index: 1;
}

#editList{
	position: absolute;
	top: 62px;
	left: 60px;
	z-index: 1;
}

#formatList{
	position: absolute;
	top: 62px;
	left: 110px;
	z-index: 1;
}

#viewList{
	position: absolute;
	top: 62px;
	left: 175px;
	z-index: 1;
}

#helpList{
	position: absolute;
	top: 62px;
	left: 230px;
	z-index: 1;
}
